@model AppCRUD_EmpleadoDB.Models.Models.Departamento

@{
    ViewBag.Title = "Delete";
}
<center>
    <img src="@Url.Content("~/Images/logo.png")" width="500px" height="200px" alt="imgf" />
</center>
<h2>Delete</h2>

<h3>Esta seguro que desea borrar este registro?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retornar a la Lista", "Index")
        </div>
    }
</div>
